<p id="notice"><%= notice %></p>

<h1>Wallets Transfer Ratios</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallets_transfer_ratios.each do |wallets_transfer_ratio| %>
      <tr>
        <td><%= wallets_transfer_ratio.key %></td>
        <td><%= wallets_transfer_ratio.value %></td>
        <td><%= wallets_transfer_ratio.description %></td>
        <td><%= link_to 'Edit', edit_wallets_transfer_ratio_path(wallets_transfer_ratio) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallets Transfer Ratio', new_wallets_transfer_ratio_path %>
